force-app/main/default/flows/Lead_Overwrite_Standard_Convert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertLeadAction</name>
        <label>ConvertLeadAction</label>
        <locationX>466</locationX>
        <locationY>220</locationY>
        <actionName>LeadConvertAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Applications_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignAccount</name>
        <label>AssignAccount</label>
        <locationX>1034</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertLeadAction.accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContact</name>
        <label>AssignContact</label>
        <locationX>1144</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertLeadAction.contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectApplications</name>
        <label>CollectApplications</label>
        <locationX>792</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>ListApplications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopApplications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Account</name>
        <label>Define Account</label>
        <locationX>370</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Business_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConvertLeadAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefineApplication</name>
        <label>DefineApplication</label>
        <locationX>645</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Application.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopApplications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertLeadAction.contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectApplications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applications_Found</name>
        <label>Applications Found?</label>
        <locationX>577</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>AssignAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopApplications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BusinessNamefx</name>
        <dataType>String</dataType>
        <expression>IF(
{!Lead.IsBusiness__c} = TRUE,
{!Lead.Business_Name__c},
{!PersonAcctName}
)</expression>
    </formulas>
    <formulas>
        <name>PersonAcctName</name>
        <dataType>String</dataType>
        <expression>{!Lead.FirstName}   +&quot; &quot;+    {!Lead.LastName}   +&quot;&apos;s Account&quot;</expression>
    </formulas>
    <interviewLabel>Lead Overwrite Standard Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Overwrite Standard Convert</label>
    <loops>
        <name>LoopApplications</name>
        <label>LoopApplications</label>
        <locationX>729</locationX>
        <locationY>326</locationY>
        <collectionReference>ApplicationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefineApplication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateApplications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetApplication</name>
        <label>GetApplication</label>
        <locationX>280</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>176</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>1247</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateApplications</name>
        <label>UpdateApplications</label>
        <locationX>928</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>AssignAccount</targetReference>
        </connector>
        <inputReference>ListApplications</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>1370</locationX>
        <locationY>222</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ApplicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ListApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
