force-app/main/default/flows/Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignLeadValues</name>
        <label>AssignLeadValues</label>
        <locationX>1057</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadFirst_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadLast_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxBusinessName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.IsBusiness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_registering_your_business</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesLeadExist</name>
        <label>DoesLeadExist</label>
        <locationX>824</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>AssignLeadValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAcct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A basic registration form for Farms and Stallion Stations</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBusinessName</name>
        <dataType>String</dataType>
        <expression>IF(
{!Are_you_registering_your_business},
{!Business_Name},
{!LeadFirst_Name} + &quot; &quot; + {!LeadLast_Name} + &quot;&apos;s Account&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Person_Account_Name</name>
        <dataType>String</dataType>
        <expression>{!LeadFirst_Name}   +&quot; &quot;+    {!LeadLast_Name}   +&quot;&apos;s Account&quot;</expression>
    </formulas>
    <interviewLabel>Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplication</name>
        <label>CreateApplication</label>
        <locationX>1331</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Pedigree_Table_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLead</name>
        <label>Lead</label>
        <locationX>1206</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>CreateApplication</targetReference>
        </connector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>672</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesLeadExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Lead_Details</name>
        <label>Lead Details</label>
        <locationX>549</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>Personal_Information</name>
            <fieldText>Personal Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadFirst_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LeadLast_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LeadPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Mailing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <stringValue>Alabama, Alaska, American Samoa, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Guam, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Minor Outlying Islands, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Northern Mariana Islands, Ohio, Oklahoma, Oregon, Pennsylvania, Puerto Rico, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, U.S. Virgin Islands, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputCountryOptions</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Are_you_registering_your_business</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you registering your business?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Information</name>
            <fieldText>Business Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Business Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_registering_your_business</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pedigree_Table_Screen</name>
        <label>Pedigree Table Screen</label>
        <locationX>1469</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Welcome_Email</targetReference>
        </connector>
        <fields>
            <name>PedigreeTableLWC</name>
            <extensionName>c:pedigreeTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>leadId</name>
                <value>
                    <elementReference>Lead.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reject</name>
        <label>Reject</label>
        <locationX>1057</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>oops</name>
            <fieldText>&lt;p&gt;There is already an account that matches the details you&apos;ve provided.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contact us if you need assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Page_0</name>
        <label>Success_Page</label>
        <locationX>1794</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;Successfully Registered!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You may safely navigate away from this page.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Lead_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Welcome_Email</name>
        <label>Welcome Email</label>
        <locationX>1629</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Success_Page_0</targetReference>
        </connector>
        <flowName>WelcomeEmail</flowName>
        <inputAssignments>
            <name>Lead</name>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WelcomeSubject</name>
            <value>
                <stringValue>Welcome to The Diamond Classic!</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Affiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>Affiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRole</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
